{% extends 'templateAdmin.html.twig' %}

{% block css %}..\{% endblock %}

{% block title %}Admin Page | MEILLAT Tristan{% endblock %}

{% block body %}

<div class="containerBlock">
  <h2>Modifier cette Article</h2>
  {% if successMessage is defined %}
    <p class={{class}}>{{successMessage}}</p>
  {% endif %}
  <form action="/portfolio/ModifPostRequest/{{ id }}" method="post" enctype="multipart/form-data">
    <div class="containerFirstBlock">
      <div class="containerInput">
        <input type="text" name="title" placeholder="Titre de l'article" value="{{post.title}}" required>
        <input type="text" name="chapo" placeholder="Chapo de l'article" value="{{post.chapo}}" required>
      </div>
      <div class="thumbmail">
        <div id="containerPreview" style="background-image : url('../public/assets/images/{{ post.thumbnail }}');">
        </div>
        <input type="file" name="fileToUpload" id="uploadThumbmail" accept="image/*" >
      </div>
    </div>
    <textarea name="content" cols="30" rows="10" placeholder="Votre contenu... " required>{{post.content}}</textarea>
    <input class ="validate" type="submit" value="Valider">
  </form>
</div>

<script src="public/assets/js/thumbmail.js"></script>

{% endblock %}
